<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'bootstrap/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logoElCarrito.jpg' %}" alt="Logo" class="navbar-logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Index' %}">Inicio</a>
                    </li>
                </ul>
            </div>
            <div>
                <a class="btn btn-outline-success" href="{% url 'Tienda' %}">Tienda</a>
            </div>
            <button id="animatedButton" class="btn btn-outline-success">Registrarse</button>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    {% include "registro_usuario.html" %}
                </div>
            </div>
    </nav>

<script src="{% static 'js/popupscript.js' %}"></script>

</body>
</html>
